/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif; /* Cambiado a una fuente más elegante */
    background-color: #f9f9f9; /* Fondo más claro para resaltar el contenido */
    line-height: 1.6;
    font-size: 16px;
    color: #333; /* Color de texto oscuro para una mejor legibilidad */
}

/* #HEADER */
header {
    background-color: #4caf50; /* Verde para una sensación fresca y natural */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

header a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

#logo {
    font-size: 2em; /* Tamaño del logo aumentado */
    font-family: 'Pacifico', cursive; /* Una fuente manuscrita para un toque amigable */
}

header nav ul {
    list-style: none;
}

header nav li {
    display: inline;
    margin-right: 20px;
}

header nav a:hover {
    color: #ffeb3b; /* Amarillo para resaltar en el hover */
}

/* #HEADER */

/* # INTRO */
#intro {
    min-height: 400px;
    background-color: #87CEEB;
    background-image: url('https://turismomendoza.vercel.app/mendoza1.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff; /* Texto blanco para contrastar con el fondo */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro-text h2 {
    font-size: 3em; /* Texto más grande y llamativo */
    text-shadow: 2px 2px 4px #000;
    margin-bottom: 20px;
}

.intro-text h3 {
    font-size: 1.8em; /* Subtítulos más grandes */
    text-shadow: 2px 2px 4px #000;
    margin-bottom: 40px;
}

.call-to-action a {
    font-size: 1.5em; /* Botones más grandes */
    padding: 15px 30px;
    border-radius: 8px;
}

/* # INTRO */

/* #WELCOME */
#welcome {
    background-color: #4caf50;
    color: #fff;
    padding: 40px 0;
    text-align: center;
}

#welcome h2 {
    font-size: 2.8em; /* Título más grande */
    margin-bottom: 20px;
}

#welcome p {
    font-size: 1.4em; /* Texto más grande */
    margin-bottom: 40px;
}

.services-container {
    max-width: 1000px; /* Ajuste para una mejor disposición */
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.services {
    flex: 1;
    margin: 20px;
    text-align: center;
    padding: 40px; /* Más espacio interno */
    background-color: #b2dfdb; /* Color de fondo más claro para un contraste agradable */
    border-radius: 15px; /* Bordes más redondeados */
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}

.service-title {
    font-size: 2em; /* Tamaño del título aumentado */
    margin-bottom: 30px; /* Espaciado inferior aumentado */
    border-bottom: 3px solid #ffeb3b; /* Borde más grueso y color amarillo */
}

.work {
    flex: 1;
    height: 250px; /* Altura reducida para un mejor equilibrio */
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

.work-title h4 {
    font-size: 1.8em; /* Tamaño del título aumentado */
    padding: 15px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8); /* Fondo más oscuro para mejor legibilidad */
    position: absolute;
    bottom: 0;
    width: 100%;
}
